/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

    html {
      height: 100%;
    }
    body {
       width: 800px;
       height: 20%;
       text-align: center;
       margin: 0 auto;
    }

    header {
        background-color: #967769;
        padding: 30px;
        font-size: 30px;
        display: block;
        margin: 10px;
    }

    h1 {
        color: white;
    }

    nav {
        float: center;
    }
    nav ul {
        padding: 2px;
        float: left;
        margin: 10px;
        list-style-type: none;
    }
    nav li {
        float: left;
        text-align: center;
    }
    nav li a {
        display: inline-block;
        width: 25%;
        height: 10px;
        padding: 12px 18px 8px 18px;
        color: #362a23;

    }
    a {
        color: ;
    }
    section {
        width: 73%;
        display: inline-block;
        float: left;
    }
    aside {
        width: 17%;
        display: inline-block;
        background-color:;
        padding:;
        min-height: 100%;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color: black;
        color: ;
        clear: both;
        display: block;
    }
    