    html {
      height: 100%;
    }
    body {
       width: 100%;
       height: 100%;
    }

    header {
        background-color: #66ccff;
        padding: 5px;
        font-size: 30;
        display: block;
        font-family: cursive;
        text-align: center;
    }
    nav {
        float: left;
    }

    section {
        width: 73%;
        display: inline-block;
        float: left;
    }
    .dogtype {
        color: #1b33e5;
        font-size: 50px;
    }
    #header {
        color: #ca00ac;
        font-family: cursive;
    }
    footer {
        width: 790px;
        background-color:;
        color:;
        clear: both;
        display: block;
    }
